.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-container h4 {
    position: absolute;
    font-size: var(--f-size-sm);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    left: 45vw;
    top: 23vh;
    opacity: 0;
}

.block-content {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    height: 50vh;
}

.block-content h2 {
    font-size: var(--f-size-l);
    text-align: justify;
    margin-right: var(--m-size);
    overflow: hidden;
    font-weight: 400;
}

h2 span {
    position: relative;;
    display: inline-block;
    transform: translateY(100%);
    cursor: pointer;
}

.index .specialisation {
    color: var(--accent);
    display: inline-block;
}

/* Ligne hover */
.index span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: 50%;
    margin-top: -0.5px;
    background: rgb(0, 0, 0);
  }

  .index  span:before {
    left: -2.5px;
    
  }

  span:hover:before {
    background: rgb(0, 0, 0);
    width: 90%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
