.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-container h4 {
    position: absolute;
    font-size: var(--f-size-sm);
    font-family: 'Roboto', sans-serif;
    left: 50vw;
    top: 23vh;
    font-weight: 300;
    opacity: 0;
}

.block-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80vw;
    height: 50vh;
}

.block-content h2 {
    font-size: var(--f-size-l);
   
    overflow: hidden;
    font-weight: 400;
}

h2 span {
    position: relative;;
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
    cursor: pointer;
}

.index .specialisation {
    color: var(--accent);
    display: inline-block;
}

/* Ligne hover */
.index span:before, span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    top: 50%;
    margin-top: -0.5px;
    background: rgb(0, 0, 0);
  }

  .index  span:before {
    left: -2.5px;
    
  }

  span:hover:before {
    background: rgb(0, 0, 0);
    width: 90%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }


  /* Media Queries */

  @media (max-width: 480px) {
    body {
        /* background-color: red; */
    }
    .block-content {
        justify-content: left;
        max-width: 100%;
        margin-left: 10vw;
    }
    
    .block-content h2 {
        font-size: var(--f-size-m);
        text-align: left;
    }
/* Index */
    .main-container h4 {
        left: 10vw;
    }

    /* Body */
    .main-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 110vh;
        
        justify-content: center;
        align-items: center;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: yellow;
    }

}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    body {
        background-color: blue;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    body {

        background-color: green;
    }
    .block-content {
        max-width: 100vw;
    }
    
    .block-content h2 {
        font-size: var(--f-size-sl);
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}