header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    font-family: "Helvetica", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 6px;
  }
  .sub-header {
    margin: 0px 15px;
    font-size: 13px;
    font-weight: 600;
  }
  .sub-header div {
    margin: 1px 0px;
  }
  .sub-header span {
    text-decoration: underline;
  }


  @media (max-width: 480px) {
    body {
        background-color: red;
    }
    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 40px;
        font-family: "Helvetica", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 10px 0;
      }
      .sub-header {
        margin: 0px 15px;
        font-size: 13px;
        font-weight: 600;
      }
      .sub-header div {
        margin: 1px 0px;
        margin-top: 2rem;
      }
      .sub-header span {
        
        text-decoration: underline;
      }
  
}