
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}


/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  
a{
    text-decoration: none;
    color: var(--black);
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

div{
   
}

body {
 
    color: rgb(0, 0, 0);
   overflow-x: hidden;
    scrollbar-width: 0;
}

body::-webkit-scrollbar {
    display: none;
    overflow-x: hidden;
}
button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 360px) and (max-width: 767px) {
    body {
    
    }

    div {
        overflow-y: scroll;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    body {

    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    body {
        background-color: white;
    }
}