.project-presentation-container {
    font-family: 'Geomanist';
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 10rem;
   
}

.concept {
   width: 80vw;
   justify-content: space-between;
   margin-left: 17rem;
}


.video-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10rem 3rem;
}

.video-container video {
    border-radius: 30px;
    max-width: 50vw;
    max-height: 80vh;
}

.video-container img {
    border-radius: 30px;
    width: 60vw;
    height: 140vh;
}

.mockup-container{
    width: 100vw;
    background-color: black;
    padding: 20rem 8rem; 
}

.mockup-container img {
    background: none;
    width: 100%;
    border-radius: 30px;
    object-fit: contain;
}
.mockup-container-buy {
    width: 100vw;
    background-color: black;
    padding: 0 8rem; 
    
}

.mockup-container-buy img {
    background: none;
    width: 100%;
    border-radius: 30px;
    object-fit: contain;
    margin: 0 0 18rem -18rem;
}

.mockup-container-buy.white{
    background-color: white;
    margin-left: -25rem;
}


.mockup-container.theme {
    background-color: black;
    width: 100vw;
    height:fit-content;
    padding: 0;
}

.mockup-container.theme img {
    object-fit: cover;
    background-color: white;
    margin: 40px;
    
}


.mockup-container-buy.space{
    display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mockup-container-buy.space img{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.project-presentation-container {
    font-family: 'Geomanist';
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    background-color: black;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 10rem;
}

.project-presentation-container div {
    height: 100%;
    max-width: 90vw;
};
.projects-body{
        font-size: 20px;
        margin-top: 3rem;
        overflow: hidden;
        scrollbar-width: 0;
}
.img-large {
    max-width: 100vw;
}
.img-large img{
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.project-presentation-container.concept {
   width: 100vw;
   margin: 0;
   align-items: flex-start;
   flex-direction: row;
}
.text-context-p{
    width: 100%;
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.video-container video {
    display: none;
}
.video-container .flex video {
    display: flex;
}

.video-container img {
    border-radius: 30px;
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100vh;
}

.mockup-container{
    width: 100%;
    background-color: black;
    padding: 0; 
}

.mockup-container img {
    background: none;
    width: 100%;
    border-radius: 0;
    object-position: left;
    object-fit: cover;
}
.mockup-container-buy {
    width: 100%;
    background-color: black;
    padding: 0; 
    
}
.mockup-container-buy div{
    width: 100%;
    background-color: black;
    padding: 0; 
    
}

.mockup-container-buy img {
    background: none;
    width: 100%;
    border-radius: 0;
    object-fit: cover;
    object-position: top;
    margin: 0;
}

.mockup-container-buy.white{
    background-color: white;
    margin-left: -25rem;
}

.projects-body .img-large img{
    object-position: center;
}

.text-context-container.lesson-learn ul{
    flex-wrap: wrap;
    width: 80vw;
}
.text-context-container.lesson-learn ul li{
    margin-top: 10px;
}
}
